// Palette
@function palette($palette, $tone: 'base') {
	@return map-get(map-get($palettes, $palette), $tone);
}

// Remove
@mixin remove {
	display: none;
	visibility: hidden;
}

// Show
@mixin show {
	display: block;
	visibility: visible;
}