// Breakpoints
$slicer-breakpoints: 0 400px 600px 800px 1050px;


// Folders
$img: '../img';
$font: '../font';


// Color Palette
$palettes: (
	black: (
		x-dark:		#333,
		dark:		#444,
		mid-dark:	#555,
		base:		#666,
		mid-light:	#777,
		light:		#888,
		x-light:	#999
	)
);


// Typography
$arial: "Arial", sans-serif;

$base-font-family: $arial;
$header-font-family: $base-font-family;


// Sizes
$base-font-size: 1em;
$base-line-height: 140%;