<!DOCTYPE html>
<!--[if IE 8]>         <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="apple-mobile-web-app-title" content="[NAME_OF_SITE]"><!-- TODO: Fill in the site name here -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<!-- TODO: Description/Keyword Meta tags -->
		<title>NAME_OF_PROJECT | {% block title %}{% endblock %}</title>
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href="/apple-touch-startup-image-320x460.png">
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-640x920.png">
		<link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-640x1096.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href="/apple-touch-startup-image-768x1004.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href="/apple-touch-startup-image-748x1024.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-1536x2008.png">
		<link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href="/apple-touch-startup-image-1496x2048.png">
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" media="all" href="{{ "site.css" | asset_url }}">
		{{ "vendor/modernizr.2.6.2.min.js" | asset_url | script_tag }}
		<!-- TODO: Add Google Analytics tracking code -->
	</head>
	<body>
		<section class="page-wrap {{ mixture.url }}">
			{% include "header" %}
			{% block content %}{% endblock %}
			{% include "sidebar" %}
			{% include "footer" %}
		</section>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
		{{ "site.js" | asset_url | script_tag }}
		<!-- TODO: Use minified JS files -->
		<!-- TODO: Add .htaccess file -->
	</body>
</html>